*{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
body{
    background-image: url("/img/nub.jpg");
    background-size: 1450px;
    background-attachment: fixed;
}

.nav{
    display: inline-block;
    text-decoration: none;
}
nav{
    background-color: rgb(0, 0, 0);
    font-size: 30px ;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10%  ;
    

}
a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 140, 255);
    margin-right: 3rem;
    margin-left: 3rem;

}
img{
    width: 82px;
    height: 50px;
}
a::after{
    content: "";
}
h1{
    text-align: center ;
    font-size: 40px;
}
h2{
    font-size: 30px;
}

.atd{
    border-radius: 50%;
    width:400px;
    height:400px ;
}
section{
    text-align: center;

}

.offcanvas-start{
    max-width: 30rem;
}
.offcanvas-end{
    background-color: rgb(42, 110, 170);
}
.nubogo{
    width: 100px;
    height: 100px;
}
.boton-imagen{
    width: 7rem;
    height:7rem ;
}